$bg: #0c0e0f;
$bg-light: #121415;
$bg-lighter: #27292a;
$fg: #edeff0;
$accent: #6791C9;
$radius: 7px;

window.Bar {
  border: none;
  box-shadow: none;
  background-color: $bg;
  color: $fg;
  font-size: 1.1em;
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;

  button {
    all: unset;
    background-color: transparent;

    &:hover label {
      background-color: transparentize($fg, 0.84);
      border-color: transparentize($accent, 0.8);
    }

    &:active label {
      background-color: transparentize($fg, 0.8)
    }
  }

  label {
    transition: 200ms;
    padding: 0 8px;
    margin: 2px;
    border-radius: $radius;
    border: 1pt solid transparent;
  }

  .Workspaces {
    margin: 2.5pt 3pt;
  }

  .Workspace {
    background-color: transparentize($fg, .8);
    border-radius: 12px;
    min-width: 6pt;
    min-height: 6pt;
    margin: 0 3pt;
  }

  .active {
    background-color: $accent;
    border-radius: 6.5px;
    padding: 2.5pt 8pt;
  }

  .occupied {
    background-color: transparentize($fg, .2);
    padding: 1pt;
  }

  .WorkspaceClick {
    background-color: transparent;
    all: unset;
  }

  .Workspaces {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .WorkspaceClick {
    background-color: transparent;
    all: unset;
  }

  .Media .Cover {
    min-height: 1.2em;
    min-width: 1.2em;
    border-radius: $radius;
    background-position: center;
    background-size: contain;
  }

  .Battery icon {
    margin-right: 10px;
  }

  .SysTray button {
    margin: 0 5px;
  }

  .Wifi {
    margin: 0 5px;
  }
}

.txt-smallie {
  font-size: 0.67rem;
  color: transparentize($fg, 0.5)
}

.txt-smaller {
  font-size: 0.9rem;
}
