@use "variables.scss" as *;
@use "sass:string";

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

window.AppLauncher {
  & {
    border: 0;
    background: transparent;
  }

  .AppLauncher-Base {
    min-width: 450px;
    background: $bg;
    border-radius: 12px;
    padding: 20px;
  }

  .AppLauncher-Base > scrollable {
    min-height: 500px;
    margin-top: 15px;
  }

  .AppLauncher-Input {
    padding: 0 20px;
    margin: 10px 0;
    min-height: 40px;
  }

  .AppLauncher-ItemName > button {
    font-size: 2rem;
    padding: 10px 0;
    min-height: 50px;
    color: gtkalpha($fg, 0.5);
    background-color: $bg;
  }

  .AppLauncher-ItemName > button:focus {
    background-color: gtkalpha($fg, 0.9);
    color: $fg;
  }

  .AppLauncher-ItemName > button:hover {
    background-color: gtkalpha($fg, 0.9);
    color: $fg;
  }

  .AppIcon {
    margin: 0 20px;
    font-size: 42px;
  }

  .AppText {
    padding-right: 20px;
  }

  .AppName {
    font-size: 1.25em;
    font-weight: 500;
  }

  .AppDescription {
    font-size: 0.8em;
    font-weight: 400;
  }
}
