@use "variables.scss" as *;
@use "sass:string";

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

window.Bar {
  border: none;
  box-shadow: none;
  background: transparent;
  color: $fg;
  font-size: 1.1em;
  font-weight: 600;
  font-family: "Source Sans Pro", "Noto Sans", "Noto Sans CJK";

  & > centerbox {
    background-color: $bg;
    min-height: 35pt;
    margin-top: 5pt;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-bottom: 0pt;
    padding: 5pt;
    border-radius: 7pt;
    border: 1pt solid gtkalpha($fg, 0.03);
  }

  button {
    all: unset;
  }

  label {
    transition: 200ms;
    padding: 0 8px;
    margin: 2px;
    border-radius: $radius;
    border: 1pt solid transparent;
  }

  .Workspace {
    background-color: gtkalpha($fg, 0.3);
    border-radius: 12px;
    padding: $workspace-padding;
    margin: 0 3pt;
  }

  .active {
    background-color: $fg;
    border-radius: 6.5px;
    padding: calc(3pt + $workspace-padding) calc(8pt + $workspace-padding);
  }

  .occupied {
    background-color: gtkalpha($fg, 0.5);
    padding: calc(2pt + $workspace-padding);
  }

  .Media .Cover {
    min-height: 1.2em;
    min-width: 1.2em;
    border-radius: $radius;
    background-position: center;
    background-size: contain;
  }

  .Battery {
    padding: unset;
    margin-right: 10px;
  }

  .Battery label {
    padding: 0;
    margin: 0;
  }

  .SysTray button {
    margin: 0 5px;
  }

  .Wifi {
    margin: 0 5px;
  }
}
