@use "variables.scss" as *;
@use "sass:string";

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

window.Bar {
  border: none;
  box-shadow: none;
  background: transparent;
  color: $fg;

  label {
    font-size: 0.9em;
    font-weight: 500;
    font-family: "JetBrainsMono Nerd Font", "SN Pro", "M Plus Code 50";
  }

  & > centerbox {
    background-color: $bg;
    padding: 0 10pt;
    min-height: 35pt;
  }

  button {
    all: unset;
  }

  .Workspace {
    background-color: gtkalpha($fg, 0.3);
    border-radius: 100pt;
    min-width: $workspace-padding;
    min-height: $workspace-padding;
    margin: 0 2.5pt;
    transition: 0.1s linear;
    font-size: 0;
    &.active {
      background-color: $fg;
      border-radius: $radius * 2;
      min-width: calc(15pt + $workspace-padding);
      min-height: calc(2pt + $workspace-padding);
    }
    &.occupied {
      background-color: gtkalpha($fg, 0.5);
    }
  }

  .Media .Cover {
    min-height: 1.2em;
    min-width: 1.2em;
    border-radius: $radius;
    background-position: center;
    background-size: contain;
  }


  .focusedClient {
    margin-right: 10pt;
  }
}
