@use "variables.scss" as *;
@use "sass:string";

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

window.Bar {
  border: none;
  box-shadow: none;
  background: transparent;
  color: $fg;
  font-size: 1.1em;
  font-weight: 600;
  font-family: "Source Sans Pro", "Noto Sans", "Noto Sans CJK";

  & > centerbox {
    background-color: $bg;
    min-height: 35pt;
    margin-top: 0pt;
    margin-left: 15pt;
    margin-right: 15pt;
    margin-bottom: 5pt;
    padding: 5pt;
    border-radius: 7pt;
    border: 1pt solid gtkalpha($fg, 0.1);
  }

  button {
    all: unset;
    background-color: transparent;

    &:hover label {
      background-color: gtkalpha($fg, 0.84);
      border-color: gtkalpha($fg, 0.8);
    }

    &:active label {
      background-color: gtkalpha($fg, 0.8);
    }
  }

  .Workspace {
    background-color: gtkalpha($fg, 0.3);
    border-radius: 12px;
    min-width: $workspace-padding;
    min-height: $workspace-padding;
    margin: 0 3pt;
  }

  .active {
    background-color: $fg;
    border-radius: 6.5px;
    min-height: calc(5pt + $workspace-padding);
    min-width: calc(15pt + $workspace-padding);
  }

  .occupied {
    background-color: gtkalpha($fg, 0.5);
    min-width: calc(1pt + $workspace-padding);
    min-height: calc(1pt + $workspace-padding);
  }

  .Media .Cover {
    min-height: 1.2em;
    min-width: 1.2em;
    border-radius: $radius;
    background-position: center;
    background-size: contain;
  }

  .Battery {
    padding: unset;
    margin-right: 10px;
  }

  .Battery label {
    padding: 0;
    margin: 0;
  }

  .SysTray button {
    margin: 0 5px;
  }

  .Wifi {
    margin: 0 5px;
  }
}
