@use "variables.scss" as *;
@use "sass:string";

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

@mixin mainfont {
  // Other clean sans-serif
  font-family: "SN Pro", "Rubik", "Geist", "AR One Sans", "Reddit Sans", "Inter", "Roboto",
    "Ubuntu", "Noto Sans", sans-serif;
  font-weight: 500;
}

.txt-smallie {
  font-size: calc(1rem / 1.1);
  color: gtkalpha($fg, 0.5);
  @include mainfont; 
}

.txt-smaller {
  font-size: calc(1rem / 1.05);
  @include mainfont; 
}
