@use "variables.scss" as *;
@use "sass:string";

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

@mixin mainfont {
  font-size: 0.9em;
  font-weight: 500;
  font-family: "SN Pro", "M Plus Code 50";
}

.txt-smallie {
  font-size: calc(1rem / 1.1);
  color: gtkalpha($fg, 0.5);
  @include mainfont;
}

.txt-smaller {
  font-size: calc(1rem / 1.05);
  @include mainfont;
}
