@use "variables.scss" as *;

window.Notification {
  border: none;
  box-shadow: none;
  background: transparent;
  color: $fg;
  font-size: 1.1em;
  font-weight: 600;
  font-family: 'Source Sans Pro', 'Noto Sans', 'Noto Sans CJK';

  .Notifications {
     background-color: $bg;
     margin: 1pt;
     min-height: 20pt;
     min-width: 300pt;
     padding: 10pt;
     border-radius: $radius;
     & .Summary {
       font-size: 1rem;
     }
     &.closeButton {
       all: unset;
       margin-left: 10pt;
     }
     & button.action {
       background-color: $bg;
       &:hover {
         background-color: transparentize($fg, .9);
       }
     }
  }
}
